{% extends "todoapp/base.html" %}

{% block title %}
    All tasks
{% endblock %}

{% block body %}
    <div class="container w-50">
        <div class="d-flex justify-content-center my-3">
            <div class="row">
                <h1>Задачи</h1>
            </div>
        </div>
        <div class="d-flex justify-content-end my-3">
            <div class="row">
                <div class="d-grid gap-1 d-md-block">
                    <a class="btn btn-outline-primary btn-lg" href="{% url 'create_task' %}">Создать задачу</a>
                </div>
            </div>
        </div>
        {% for task in task_list %}
            <div class="card text-center mx-auto my-5">
                <div class="card-header">
                    <h2>{{ task.title }}</h2>
                </div>
                {% if task.tag_set.all %}
                    <div class="card-title">
                        {% for tag in task.tag_set.all %}
                            <a href="#">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="card-body">
                    <div class="card-text">
                        {% if task.about %}
                            <p> {{ task.about }} </p>
                        {% endif %}
                        <p> {{ task.completed_text }} </p>
                        {% if task.date_of_completion %}
                            {% if task.is_expired %}
                                <p class="text-danger">{{ task.date_of_completion }}</p>
                            {% else %}
                                <p class="text-primary"> {{ task.date_of_completion }} </p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
